.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & .arrow {
    color: $color1;
    width: 150px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1200px) {
  margin-top: 50px;
}
